/*Learta Januzi*/
/*CSS of the navigation bar and footer of all pages*/
/*General CSS*/
* {
    margin: 0;
    padding: 0;
}
html, body{
    height:100%;
}
/*Navigation bar style*/
nav{
    margin-left: 0px;
    margin-right: 0px;
    display: block;
    background-color: #b30713;
    padding-bottom:15px;
    padding-top:12px;
    margin-bottom: 0px;
    width: 100%;

}
.navname{
    font-size: 1.20em;
    font-family: cursive;
    color:burlywood;
}
ul.navbar1{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navbar li{
    display: inline;
    list-style-type: georgian;
    margin:0px;
    padding:0px;
    overflow:hidden;

}
li a {
    color: black;
    text-align: center;
    padding: 15px 17px;
    text-decoration: none; 
    margin-right: 0px;
    margin:20px;

}
li a:hover {
    background-color: #252223;
    color: white;
}
.b-active{
    background-color: #252223;
    text-decoration-color: #FFFAFA;
}
/*the drop down of breakfast*/
.bdrop {
    background-color: #b30713;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
}

 .dropdown {
     position: relative;
     display: inline-block;
}
/*what shows on the dropdown*/
.dropdown-titles {
    display: none;
    position: absolute;
    background-color: #b30713;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
/* Links inside the dropdown */
.dropdown-titles a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* make the dropdown menu visible only when tou hover*/
.dropdown:hover .dropdown-titles {
    display: block;
}

/* when hover on a dropdown element change colors */
.dropdown:hover .bdrop {
    background-color: #252223;
    color:white;
}

/*footer style*/
.container{
    min-height: 100%;
}
.maincontent{
    overflow:auto;
    padding-bottom:100px;
}
#footer{
    background-color: #b30713;
    position:relative;
    height:100px;
    margin-top: -100px;
    clear:both;
}
#footer ul{
    margin-left: 20px;
    
}
#footer li{
    margin-left: 8px;
    display:inline;
    color: #FDECED;
    font-size: 1.2em;
    list-style-type: circle;

}
#footerh2{
    text-align: center;
    color:antiquewhite;
    text-decoration: none;
    font-family: cursive;
    margin-bottom: 20px;
}
