<!--Learta Januzi's html-->
<!DOCTYPE html>
<html>
    <head>
        <title>Breakfast</title>
         <link rel="stylesheet" href="../other/tiic-style.css">
        <link rel="stylesheet" href="../other/b-style.css">
    </head>
    <body>
        <div class="container">
          <!--navigation bar-->  
        <nav class="navbar">
            <ul class="navbar1">
                <li class="navitem">
                    <a class="navname" href="../index.html">
                        ThisIsItChef</a>
                <li class="navitem">
                    <div class="dropdown">
                    <a href="../html/breakfast-m.page.html"><button class="bdrop"> Breakfast</button>
                    </a>
                        <div class="dropdown-titles">
                        <a href="../html/english.full.breakfast.html">English Full Breakfast</a>
                        <a href="../html/avocado.toast.html">Avocado Toast</a>
                        <a href="../html/pancakes.html">Pancakes</a>
                        </div>
                        </div>
                </li>
                <li class="navitem">
                    <div class="dropdown">
                    <a class="navlink" href="../html/Lunch-Main.html"> <button class="bdrop">Lunch</button></a>
                        <div class="dropdown-titles">
                        <a href="../html/Lunch-Fish.html">Fish</a>
                        <a href="../html/Lunch-Meat.html">Meat</a>
                        <a href="../html/Lunch-Salads.html">Salads</a>
                        <a href="../html/Lunch-Carbohydrates.html">Charbohydrates</a>
                        </div>
                    </div>
                </li>
                <li class="navitem">
                    <div class="dropdown">
                    <a href="dmainpage.html"><button class="bdrop">Dinner</button></a>
                        <div class="dropdown-titles">
                        <a href="../html/drecipe1.html">Black Angus beef</a>
                        <a href="../html/drecipe2.html">Spaghetti</a>
                        <a href="../html/drecipe3.html">Penne with beef filet</a>
                        <a href="../html/drecipe4.html">Pork Tenderloin</a>
                        <a href="../html/drecipe5.html">Risotto with gorgonzola</a>
                        </div>
                        </div>
                </li>  
                 <li class="navitem">
                     <div class="dropdown">
                    <a href="../html/desserts%20(1).html"><button class="bdrop">Desserts</button></a>
                         <div class="dropdown-titles">
                        <a href="../html/lemontart%20(1).html">Lemon Tart</a>
                        <a href="../html/millefeuille%20(1).html">Millefeuille</a>
                        <a href="../html/mango-basil.html">Mango Basil</a>
                        <a href="../html/chocolate-croquant.html">Chocolate Croquant</a>
                        <a href="../html/sphere-vahroma.html">Sphere Vahroma</a>
                        </div>
                         </div>
                </li> 
                <li  class="navitem">
                    <div class="dropdown">
                    <a href="../html/Allabouttapas.html"><button class="bdrop">Tapas</button></a>
                        <div class="dropdown-titles">
                        <a href="../html/recipe1.html">Classic Pulpo Gallego</a>
                       <a href="../html/recipe2.html">Simmered squid</a>
                        <a href="../html/recipe3.html">Potato-and-Mozzarella Croquettes</a>
                        <a href="../html/recipe4.html">Pan con Tomate with Garrotxa Cheese</a>
                        <a href="../html/recipe5.html">Open-Faced Crab Empanadas</a>
                        <a href="../html/recipe6.html">Flat Breads with Shrimp and Romesco Sauce</a>
                        <a href="../html/recipe7.html">Fingerling Papas Bravas with Smoky Aioli</a>
                        <a href="../html/recipe8.html">Shrimp and Chorizo Flatbreads</a>
                        </div>
                    </div>
                </li> 
            </ul>
        </nav>
        <!--End of navigation bar-->
            <div class="maincontent">
        <h1><span>Breakfast</span></h1>
                <img class="breakfast-photo" src="../photos/breakfast.jpg" alt="breakfast table">
        <img class="other-breakfast-photo" src="../photos/breakfast2.jpg" alt="brealfast table">
        <div class="b-intro">
        <p>Breakfast is indeed the most important meal of the day. It is essential for everyone to eat breakfast every morning because it has so many benifits.Firstly it kick-starts your metabolism and helpes you burn calories throughout the day. Furthermore it gives you the energy you need for school or work.<br>Many studies link eating breakfast to good health, better memory and concentration. It lowers the chances of diabetes, heart disease and being overweight.</p>
            </div>
        <h2><a class="fav-recipes">Some of your favourite breakfast recipes:</a></h2>
        <div class="main-at-pic">
        <a href="../html/avocado.toast.html"><img src="../photos/avocado%20toast%202.jpg" alt="Avocado toast" height=350px></a>
            <p><a href="../html/avocado.toast.html">Avocado Toast</a></p>
            </div>
        <div class="main-efb-pic">
        <a href="../html/english.full.breakfast.html"><img  src="../photos/English%20full%20brakfast%203.jpg" height="350px" alt="English Full Breakfast"></a>
            <p><a href="../html/english.full.breakfast.html">English Full Breakfast </a></p>
        </div>
        <div class="main-p-pic">
        <a href="../html/pancakes.html"><img src="../photos/pancakes%202.jpg" height="350px" alt="Pancakes"></a>
            <p><a href="../html/pancakes.html">Pancakes</a></p>
        </div>
        </div>
        </div>
        <footer id="mfooter">
           <h2 id="footerh2">ThisIsItChef</h2>
           <ul>
               <li><a href="../html/aboutus.html">About Us</a></li>
               <li><a href="../html/references.html">References</a></li>
           </ul>
       </footer>
    </body>
</html>